.register-form
{
  width:90%;
  margin: 0 auto;
}
button
{
  width:75%;
}
.w-one-third
{
  width: 33%;
}
.w-half
{
  width: 50%;
}
mat-form-field
{
  display: block;
}
mat-card-footer
{
  text-align:center;
}
