<h4>Internal server error - refreshing the page will make the error disappear!</h4>
<ng-container *ngIf="error">
  <h5 color="warn">Error: {{error.message}}</h5>
  <p>Note: If you are seeing this then Angular is probably not to blame</p>
  <p>What to do next?</p>
  <ol>
    <li>Open the Chrome dev tools</li>
    <li>Inspet the network tab</li>
    <li>Examine the request URL - make sure it is correct</li>
    <li>Reproduce the error in Postman - if we see the same response, then the issue is not with the Front End</li>
  </ol>
  <p>Following is the stack trace - this is where your investigation should start!</p>
  <code>{{error.details}}</code>
</ng-container>
