@import '../../../breakpoints';
@import '../../../theme';

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 88vh;
}
.mat-sidenav {
  width: 220px;
  background-color: $accent;
}
mat-sidenav-content {
  flex-grow: 1;
}
button.menu-button {
  color: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.mat-nav-list {
  padding-top: 0;
}

