<div class="container">
  <h4 *ngIf="error" class="error">An unexpected error ocurred.</h4>
  <mat-card>
    <div class="reset-password-form">
      <mat-card-content>
        <form [formGroup]="resetPasswordForm"
              (ngSubmit)="submit(resetPasswordForm.value)">

          <div class="pass">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Password:</mat-label>
              <input matInput id="password" name="password" [type]="hide ? 'password' : 'text'"
                    formControlName="password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('minlength')">Password must be at least {{passwordMinLength}} characters</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
              <mat-label>Confirm Password:</mat-label>
              <input matInput id="confirmPassword" name="confirmPassword" [type]="hideConfirm ? 'password' : 'text'"
                    formControlName="confirmPassword" required>
              <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error>Passwords must match</mat-error>
            </mat-form-field>
          </div>

          <mat-card-footer>
            <button mat-raised-button class="submit" color="primary" [disabled]="!resetPasswordForm.valid">Submit</button>
          </mat-card-footer>

        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
