.login-form
{
  width:75%;
  margin: 0 auto;
}
.center
{
  text-align:center;
}
mat-form-field
{
  display: block;
  width:100%;
}
mat-card-footer
{
  margin: 10px auto 0;
  text-align:center;
}
@media (max-width:500px)
{
  .container
  {
    width:100%;
    margin: 10px auto;
  }
  .login-form
  {
    width:100%;
    margin: 0 auto;
  }
}