<div class="container">
  <mat-card>
    <div class="login-form">
      <mat-card-content>
        <form [formGroup]="loginForm"
              (ngSubmit)="loginUser(loginForm.value)">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Phone Number:</mat-label>
            <input matInput type="tel" id="username" name="username" mask="(000) 000-0000" [showMaskTyped] = "false"
            placeholder="(xxx) xxx-xxxx" formControlName="username" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error>Required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" color="accent">
            <mat-label>Password</mat-label>
            <input matInput name="password" [type]="hide ? 'password' : 'text'"
                  formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error>Required</mat-error>
          </mat-form-field>
          <div class="center">
            <button mat-raised-button class="submit" color="primary" [disabled]="!loginForm.valid">Log In</button>
          </div>
        </form>
        
        <mat-card-footer>
          <form>
            <mat-card-actions><a mat-button routerLink="/password/forgot-password">Forgot Password?</a></mat-card-actions>
          </form>
        </mat-card-footer>
      </mat-card-content>
    </div>
  </mat-card>
</div>
