<header>
    <mat-toolbar color="primary" class="header">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <button mat-icon-button id="menu" (click)="menuService.toggleMenu()" *ngIf="isUserAuthenticated">
            <mat-icon>menu</mat-icon>
          </button>
          <a href="" class="logo"><img src='../../../../assets/images/globe_white.png' /> {{title}}</a>
        </div>

        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="profile menu"><mat-icon class="icon-lg">account_circle</mat-icon></button>
          <mat-menu #menu="matMenu" color="primary">
            <div>
              <a mat-menu-item *ngIf="isUserAuthenticated">User Profile</a>
              <a mat-menu-item *ngIf="isUserAuthenticated">Update Password</a>
            </div>
            <div>
            <a mat-menu-item *ngIf="!isUserAuthenticated" routerLink="account/access">Log in / Register</a>
            <a mat-menu-item *ngIf="isUserAuthenticated" (click)="logout()" routerLink="/">Logout</a>
            </div>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar> 
  
  </header>
