<header>
    <mat-toolbar color="primary" class="header">
      <mat-toolbar-row>
        <button mat-icon-button id="menu" (click)="menuService.toggleMenu()" *ngIf="isUserAuthenticated">
          <mat-icon>menu</mat-icon>
        </button>
        <a href="" class="logo">{{title}}</a>

        <div class="header-menu-show">
          <a mat-button *ngIf="!isUserAuthenticated" routerLink="/auth">Log In / Register</a>
          <a mat-button *ngIf="isUserAuthenticated" (click)="logout()" routerLink="/">Logout</a>
          <mat-menu #profile="matMenu" color="primary">
            
            <div>
              <a mat-menu-item>Update Contact Info</a>
              <a mat-menu-item>Change Password</a>
              <a mat-menu-item>Logout</a>
            </div>
          </mat-menu>
        </div>
        <div class="header-menu-hide">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon-button with a menu"><mat-icon>menu</mat-icon></button>
          <mat-menu #menu="matMenu" color="primary">
            <div>
            <a mat-menu-item routerLink="/auth">Log in / Register</a>
            </div>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar> 
  
  </header>
